# lol
# FUCK CLION
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
UseTab: Never
AlignAfterOpenBracket: BlockIndent
# clang docs lied to me
# BinPackParameters: OnePerLine
BreakBeforeBraces: Attach
PointerAlignment: Left
AlignConsecutiveMacros: true
PenaltyReturnTypeOnItsOwnLine: 10000